/* src/components/Board.css */
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 580px; /* عرض اللوحة */
  height: 580px; /* ارتفاع اللوحة */
  border: 6px solid #313131; /* خط محيطي */
  margin: 5% auto; /* توسيط اللوحة */
  position: relative; /* إضافة هذا لجعل الأزرار مرتبطة باللوحة */
}

.board-row {
  display: flex;
}

.square {
  width: 73px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.square.light {
  background-color: #f0f0f0;
}

.square.dark {
  background-color: #434343;
}

.piece {
  font-size: 60px;
  cursor: pointer;
}

.square.selected {
  background-color: #8eaddf !important;
}

.available-move {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.3); /* لون الدائرة */
  border-radius: 50%; /* جعلها دائرية */
  position: absolute; /* وضعها فوق المربع */
}

.game-over-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.game-over-message h1 {
  margin: 0;
  font-size: 24px;
}

.king-in-check {
  background-color: #760404 !important;
}

.promotion-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#566987;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.promotion-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.promotion-option {
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.promotion-option:hover {
  background-color: #e0e0e0;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
  font-family: Arial, sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.knight {
  font-size: 400px; /* حجم اللوجو ثابت */
  color: #ffffff;
  align-items: center;
  position: absolute;
  top:5%; /* يضع العنصر عند 80% من الأعلى */
  left: 37%; /* يضع العنصر في المنتصف أفقيًا */

  /* transform: translateX(-50%); يعيد ضبط العنصر ليكون في المنتصف بدقة */
}

.start-button {
  padding: 15px 30px;
  font-size: 24px; /* حجم الزر ثابت */
  color: white;
  background-color: #434343;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
    top: 80%; /* يضع العنصر عند 80% من الأعلى */
    left: 50%; /* يضع العنصر في المنتصف أفقيًا */
    transform: translateX(-50%); /* يعيد ضبط العنصر ليكون في المنتصف بدقة */
}

.Ai-button{
  padding: 15px 30px;
  font-size: 24px; /* حجم الزر ثابت */
  color: white;
  background-color: #434343;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
    top: 90%; /* يضع العنصر عند 80% من الأعلى */
    left: 50%; /* يضع العنصر في المنتصف أفقيًا */
    transform: translateX(-50%); /* يعيد ضبط العنصر ليكون في المنتصف بدقة */
}

.start-button:hover {
  background-color: #a9a9a9;
}

.Ai-button:hover {
  background-color: #a9a9a9;
}

.undo-button {
  position: absolute; /* تغيير من fixed إلى absolute */
  top: 4%; /* وضع الزر أعلى اللوحة */
  right: -120px; /* وضع الزر على يمين اللوحة */
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #434343;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.undo-button:hover:not(:disabled) {
  background-color: #a9a9a9;
}

.redo-button {
  position: absolute; /* تغيير من fixed إلى absolute */
  top: 15%; /* وضع الزر أسفل زر التراجع */
  right: -120px; /* وضع الزر على يمين اللوحة */
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #434343;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.redo-button:disabled {
  background-color: #434343;
  cursor: not-allowed;
}

.redo-button:hover:not(:disabled) {
  background-color: #a9a9a9;
}

/* قائمة مستويات الصعوبة */
.levels-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff; /* لون الخلفية */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  text-align: center;
}

.levels-options {
  display: flex;
  flex-direction: column; /* عرض العناصر بشكل عمودي */
  gap: 10px;
  margin-top: 10px;
}

.level-option {
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #6c6c6c;
  transition: background-color 0.3s ease;
}

.level-option:hover {
  background-color: #a9a9a9; /* لون الخلفية عند التحويم */
}

.buttons-container {
  
  z-index: 1; /* لجعل الأزرار تظهر فوق الشعار */
  background-color: 434343; /* لون الخلفية للمستطيل */

}
/* Media Queries للشاشات الصغيرة */
@media (max-width: 768px) {
  .board {
      width: 90vw; /* عرض اللوحة يتناسب مع عرض الشاشة */
      height: 90vw; /* ارتفاع اللوحة يتناسب مع عرض الشاشة */
      margin: 20% auto; /* توسيط اللوحة */
      position: absolute;
      top: 15% ;
      left: 4%;
  }

  .square {
      width: 11.25vw; /* حجم المربع يتناسب مع عرض الشاشة */
      height: 11.25vw;
  }

  .piece {
      font-size: 10vw; /* حجم القطعة يتناسب مع عرض الشاشة */
  }

  .available-move {
      width: 4.5vw;
      height: 4.5vw;
  }

  .game-over-message {
      font-size: 5vw;
      padding: 10px;
  }

  .game-over-message h1 {
      font-size: 5vw;
  }

  .promotion-modal {
      padding: 10px;
  }

  .promotion-option {
      font-size: 6vw;
      padding: 5px;
  }

  .undo-button {
      font-size: 3vw;
      padding: 5px 10px;
      right: 80%;
    position: absolute;
    top: 115%;
    left: 4%;
  }


  .redo-button {
      font-size: 3vw;
      padding: 5px 10px;
      right: 80%;
    position: absolute;
    top: 125%;
    left: 4%;
  }

  .knight {
      position: absolute;
      top: 20%; /* يضع العنصر عند 80% من الأعلى */
      left: 50%; /* يضع العنصر في المنتصف أفقيًا */
      transform: translateX(-50%); /* يعيد ضبط العنصر ليكون في المنتصف بدقة */
  }
  
}